apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# LiteMaaS - Model as a Service Platform
# Experimental deployment for API key management and LLM subscriptions
# See: https://github.com/rh-aiservices-bu/litemaas

namespace: litemaas

resources:
  - namespace/
  - postgres/
  - litellm/
  - backend/
  - frontend/

# Note: Don't use commonLabels as it affects selectors and breaks Service->Pod matching

