apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # RHOAI Operator
  - rhoai-operator/namespace.yaml
  - rhoai-operator/operatorgroup.yaml
  - rhoai-operator/subscription.yaml
  - rhoai-operator/datasciencecluster.yaml

