apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # RHOAI Operator (3.0)
  - rhoai-operator/namespace.yaml
  - rhoai-operator/operatorgroup.yaml
  - rhoai-operator/subscription.yaml
  # RHOAI 3.0 requires DSCInitialization before DataScienceCluster
  - rhoai-operator/dsci.yaml
  - rhoai-operator/datasciencecluster.yaml

