apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - route.yaml
  - servicemonitor.yaml
  - datasource-cm.yaml
  - local-prometheus.yaml
  - dashboards/kustomization.yaml
