apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: private-ai
  labels:
    app: grafana
spec:
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
  selector:
    app: grafana

